.container{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    box-shadow: inset;
    color: rebeccapurple;
    font-weight: 700;
}


.checkBox-input{
    width: 50px;
    outline: none;
    transition: 1s;
    
}
.checkBox-input:hover{
    /* transition: 1s ease-in-out; */
    transform: rotate(360deg) scale(2);
}
.button:hover{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    color: rebeccapurple;
    transition-duration: 0.5s;
    transform: rotate(360deg);
    animation: buttonScale 1s;
}

@keyframes buttonScale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
    
}